.card {
  background-color: white;
  background: white;
  }
  
  .card__title,
  .card__description {
  color: #282828;
  }
  
  .card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
  }
  
  .card {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  }